@model IEnumerable<MyKanbanCore.Models.Board>

@{
    ViewData["Title"] = "Index";
}

<div class="sidenav">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.BoardId">@item.Name</a>
    }
    <hr />
    <a asp-action="Create">Create New</a>
</div>

<div class="main">
    <h2>Please select a board</h2>
    <p><i class="fa fa-arrow-left"></i> Select or create a board to begin...</p>
</div>